body{
   font-family: serif;
   font-size: 20px;
   background-color: antiquewhite;
   height: 100vh;
}

.main {
   max-width: 900px;
   margin: 0 auto;
   display: flex;
   height: 100%;
   justify-content: center;
   align-items: center;
   &__content {
      text-align: center;
      h1{
         color: #6a5e75;
         font-size: 65px;
      }
      h2{
         color: #4c81b1;
         font-size: 60px;
      }
   }
}
